.divider{
  height: 1px;
  width: 100%;
  display: block;
  margin-top: 15px;
  margin-bottom: 25px;
  overflow: hidden;
  background-color: #e5e5e5
}
.divider-landing{
  height: 1px;
  width:50%;
  display:block; /* for use on default inline elements like span */
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left:25%;
  overflow: hidden;
  background-color: #e5e5e5;
}
.indent{
  text-indent: 40px;
}
